
@mixin responsive($media){

    @each $name, $w in $width {
        .w-#{$media}-#{$name}{width: #{$w}!important;}
    }
    .w-#{$media}-auto{width: auto!important;}
    .w-#{$media}-100{width: 100%!important;max-width: 100%!important;min-width: 100%!important;margin-left: 0!important;margin-right: 0!important;padding-left: 0!important;padding-right: 0!important;}
    @each $name, $i in $size{
        .f-size-#{$media}-#{$name}{font-size: #{$i}!important;}
    }
    p-right-#{$media}-0{padding-right: 0!important;}
    @each $name, $i in $increment {
        .p-top-#{$media}-#{$name}{padding-top: #{$i}!important;}
    }
    @each $name, $i in $increment {
        .p-bottom-#{$media}-#{$name}{padding-bottom: #{$i}!important;}
    }
    @each $name, $i in $increment {
        .m-top-#{$media}-#{$name}{margin-top: #{$i}!important;}
    }
    @each $name, $i in $increment {
        .m-bottom-#{$media}-#{$name}{margin-bottom: #{$i}!important;}
    }
    @each $name, $i in $increment2 {
        .m-left-#{$media}-#{$name}{margin-left: #{$i}!important;}
    }
    @each $name, $i in $increment2 {
        .m-right-#{$media}-#{$name}{margin-right: #{$i}!important;}
    }
    @each $name, $i in $increment2 {
        .p-left-#{$media}-#{$name}{padding-left: #{$i}!important;}
    }
    @each $name, $i in $increment2 {
        .p-right-#{$media}-#{$name}{padding-right: #{$i}!important;}
    }
    .direction-#{$media}-column{@include flex_direction(column);}
    .self-#{$media}-center{@include align-self(center);}
    .justify-#{$media}-space{@include justify_content(space-between);}
    .justify-#{$media}-center{@include justify_content(center);}
    .display-#{$media}-block{display: block!important;}
    .display-#{$media}-none{display: none!important;}
    .f-#{$media}-n{float: none!important;}
    .f-#{$media}-r{float: right!important;}
    .f-#{$media}-l{float: left!important;}
    .t-align-#{$media}-c{text-align: center;}
    .position-#{$media}-relative{position: relative;}
    .top-#{$media}-0{top: 0;}
    .right-#{$media}-0{right: 0;}
}
$media: 1024;
@include mq($media) {
    // Edit
    body {
        background-size: 117% auto!important;
    }
    .position-1024-relative{
        position: relative;
    }
}

$media: 600;
@include mq($media) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

}
